*.bak
*~
.#*

.DS_Store
**/.DS_Store
.AppleDouble
.LSOverride

secrets/
.ssh/id_*
.ssh/*.key
.ssh/known_hosts

.stow-*

scripts/apple/

.config/fish/fish_variables
.config/fish/conf.d/fish_frozen_key_bindings.fish

*.swp
*.swo
.config/genai-bridge
.claude
CLAUDE.md
